.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


.Grid {
  display: flex;
}

.Grid-cell {
  flex: 1;
}


.rowz {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: rowz;
  flex-wrap: wrap;
}

.colz {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}

/* nested grids */
.rowz .rowz, .rowz.nested {
  flex: 1 1 auto;
  margin-top: -0.5em;
}

/* full width grids */
.rowz.wide-fit {
  margin-left: -10px;
  margin-right: -10px;
}

/* center grids */
.rowz.center {
  justify-content: center;
}

.center .colz {
  flex-growz: 0;
  flex-shrink: 0;
}

/* colzumns widths */

.colz-span-1 {
  flex-basis: 8.3333%;
}

.colz-span-2 {
  flex-basis: 16.6666%; 
}

.colz-span-3 {
  flex-basis: 25%;
}

.colz-span-4 {
  flex-basis: 33.3333%;
}

.colz-span-5 {
  flex-basis: 41.6666%;
}

.colz-span-6 {
  flex-basis: 50%;
}

.colz-span-7 {
  flex-basis: 58.3333%;
}

.colz-span-8 {
  flex-basis: 66.6666%;
}

.colz-span-9 {
  flex-basis: 75%;
}

.colz-span-10 {
  flex-basis: 83.3333%;
}

.colz-span-11 {
  flex-basis: 91.6666%;
}

.colz-span-12 {
  flex-basis: 100%;
}

/* examples */

.fixed-width {
  flex: 0 0 500px;
  background-colzor: rgba(255,0,0,0.1) !important;
}

@media all and (max-width: 568px) {
  .colz-span-1,
  .colz-span-2,
  .colz-span-3,
  .colz-span-4,
  .colz-span-5 {
    flex-basis: 50%;
  }

  .colz-span-6,
  .colz-span-7,
  .colz-span-8,
  .colz-span-9,
  .colz-span-10,
  .colz-span-11 {
    flex-basis: 100%;
  }

  .nested .colz {
    flex-basis: 100%;
  }
}

/* eye candy */

body {
  font-family: sans-serif;
}

.rowz {
  background-color: #cccccc;
  background-color: rgba(0,0,0,0.1);
}
.colz {
  background-color: #999999;
  background-color: rgba(0,0,0,0.2);
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
}


.flexwrapper {
  margin-left: 0em;
}

.flexwrapper > section {
  float: left;
  width: 25%;
  border-left: 0em solid #ffffff;
  box-sizing: border-box;
  margin-bottom: 0em;
  padding-top: 25%;
}

.flexwrapper > section:nth-child(1) {
  background: #a9cc5b;
}

.flexwrapper > section:nth-child(2) {
  background: #39b4e0;
}

.flexwrapper > section:nth-child(3) {
  background: #e4582b;
}

.flexwrapper > section:nth-child(4) {
  background: #f8c624;
}

/*.flexwrapper {
  margin-left: -1em;
}

.flexwrapper > section {
  float: left;
  width: 25%;
  border-left: 1em solid #eff5f5;
  box-sizing: border-box;
  margin-bottom: .5em;
  padding-top: 25%;
}

.flexwrapper > section:nth-child(1) {
  background: #a9cc5b;
}

.flexwrapper > section:nth-child(2) {
  background: #39b4e0;
}

.flexwrapper > section:nth-child(3) {
  background: #e4582b;
}

.flexwrapper > section:nth-child(4) {
  background: #f8c624;
}*/

